
.container .places h1 {
    flex-basis: 100%;
    font-size: 30px;
}

.container .places ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .places ul li article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.container .places ul li article h2 {
    font-size: 30px;
    text-align: center;
}
